<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 HSV Histogram</title>
    <script src="https://unpkg.com/vue@3.5.12/dist/vue.global.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .canvas-container {
            margin-top: 20px;
        }

        .histogram {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }

        .histogram canvas {
            border: 1px;
        }
    </style>
</head>

<body>
    <div id="app" class="container">
        <h1>Vue 3 HSV Histogram</h1>
        <input type="file" @change="loadImage">
        <div class="canvas-container">
            <canvas ref="imageCanvas"></canvas>
        </div>
        <div>
            <label>Select HSV Channels:</label>
            <br>
            <input type="checkbox" id="hue" value="hue" v-model="selectedChannels">
            <label for="hue">Hue</label>
            <input type="checkbox" id="saturation" value="saturation" v-model="selectedChannels">
            <label for="saturation">Saturation</label>
            <input type="checkbox" id="value" value="value" v-model="selectedChannels">
            <label for="value">Value</label>
        </div>
        <div class="histogram">
            <canvas ref="histCanvas" :width="256 * SCALE" :height="100*SCALE"></canvas>
        </div>
    </div>
    <script>
        const { createApp, ref, watch } = Vue;

        createApp({
            setup() {
                const SCALE = 3;
                const FILL_STYLE = 'rgba(0, 0, 0, 0.33)';
                const MAX_UINT8 = 255;

                const imageCanvas = ref(null);
                const histCanvas = ref(null);
                const selectedChannels = ref([]);
                const emptyHistogram = () => {
                    return {
                        'hue': Array(256).fill(0),
                        'saturation': Array(256).fill(0),
                        'value': Array(256).fill(0)
                    }
                }
                
                let histByChannel = emptyHistogram();

                const loadImage = (event) => {
                    const file = event.target.files[0];

                    if (!file) return;

                    const reader = new FileReader();

                    reader.onload = (e) => {
                        const img = new Image();

                        img.onload = () => {
                            imageCanvas.value.width = img.width;
                            imageCanvas.value.height = img.height;

                            ctx = imageCanvas.value.getContext('2d');

                            ctx.clearRect(0, 0, imageCanvas.value.width, imageCanvas.value.height);
                            ctx.drawImage(img, 0, 0, imageCanvas.value.width, imageCanvas.value.height);

                            invertColors(ctx);
                            fillHistograms(ctx);

                            updateHistogram();
                        };

                        img.src = e.target.result;
                    };

                    reader.readAsDataURL(file);
                };

                const invertColors = (ctx) => {
                    const image = ctx.getImageData(0, 0, imageCanvas.value.width, imageCanvas.value.height);

                    for (let i = 0; i < image.data.length; i += 4) {
                        image.data[i] = MAX_UINT8 - image.data[i];
                        image.data[i + 1] = MAX_UINT8 - image.data[i + 1];
                        image.data[i + 2] = MAX_UINT8 - image.data[i + 2];
                    }

                    ctx.putImageData(image, 0, 0);
                };

                const fillHistograms = (ctx) => {
                    const image = ctx.getImageData(0, 0, imageCanvas.value.width, imageCanvas.value.height);

                    histByChannel = emptyHistogram();

                    for (let i = 0; i < image.data.length; i += 4) {
                        const hsv = rgbToHsv(image.data[i], image.data[i + 1], image.data[i + 2]);

                        histByChannel['hue'][Math.round(hsv[0] * MAX_UINT8)]++;
                        histByChannel['saturation'][Math.round(hsv[1] * MAX_UINT8)]++;
                        histByChannel['value'][Math.round(hsv[2] * MAX_UINT8)]++;
                    }
                };

                const rgbToHsv = (r, g, b) => {
                    r /= MAX_UINT8;
                    g /= MAX_UINT8;
                    b /= MAX_UINT8;

                    const max = Math.max(r, g, b);
                    const min = Math.min(r, g, b);
                    const delta = max - min;

                    if (delta === 0) return [0, 0, max];

                    let h = 0;
                    let s = (max === 0) ? 0 : delta / max;
                    let v = max;

                    switch (max) {
                        case r:
                            h = (g - b) / delta + (g < b ? 6 : 0);
                            break;
                        case g:
                            h = (b - r) / delta + 2;
                            break;
                        case b:
                            h = (r - g) / delta + 4;
                            break;
                    }

                    h /= 6; // 

                    return [h, s, v];
                };

                const drawHistogram = (ctx, canvas, channel) => {
                    const histogram = histByChannel[channel];
                    const max = Math.max(...histogram);

                    ctx.fillStyle = FILL_STYLE;

                    for (let i = 0; i < histogram.length; i++) {
                        const value = histogram[i];
                        const height = (value / max) * canvas.height;

                        ctx.fillRect(i * SCALE, canvas.height - height, SCALE, height);
                    }
                };

                const updateHistogram = () => {
                    if (!histCanvas.value) return;

                    const ctx = histCanvas.value.getContext('2d');
                    ctx.clearRect(0, 0, histCanvas.value.width, histCanvas.value.height);

                    for (const channel of selectedChannels.value) {
                        drawHistogram(ctx, histCanvas.value, channel);
                    }
                };

                watch(selectedChannels, updateHistogram);

                return {
                    SCALE,
                    imageCanvas,
                    histCanvas,
                    selectedChannels,
                    loadImage,
                    updateHistogram
                };
            }
        }).mount('#app');
    </script>
</body>

</html>